fiftyone
opencv-python
pillow
xmltodict
pydicom
pandas
numpy
SimpleITK
scikit-image
patch
git+https://github.com/facebookresearch/detectron2.git
argparse
Cython
cloudpickle
uri-template
jupyter
jupyterlab-pygments
pip
configparser
HTMLParser
wheel
setuptools
matplotlib
typing_extensions
packaging
build
scipy
ipywidgets
ipython
tqdm
torch
torchvision
torchaudio
PyYAML
albumentations
prompt_toolkit

attrs
protobuf
tornado
Jinja2
filelock
future
platformdirs
seaborn
scikit-learn
Flask
imageio
waitress