opencv-python
pillow
xmltodict
pydicom
pandas
numpy
SimpleITK
scikit-image
patch
git+https://github.com/facebookresearch/detectron2.git
YOLOv8-Explainer
torch
argparse
Cython
cloudpickle
uri-template
jupyter
jupyterlab-pygments
pip
configparser
attr
attrs
distro
HTMLParser
wheel
PySocks
protobuf
pyOpenSSL
cryptography
docutils
Sphinx
tornado
railroad
Jinja2
filelock
redis
setuptools
matplotlib
typing_extensions
packaging
trove-classifiers
zipp
build
dl
config
platformdirs
scipy
ipywidgets
ipython
tqdm
torchvision
PyYAML
albumentations
prompt_toolkit
