watchdog
torch
torchvision
torchaudio
opencv-python
pillow
xmltodict
pydicom
pandas
numpy
SimpleITK
scikit-image
patch
argparse
cloudpickle
uri-template
configparser
HTMLParser
wheel
matplotlib
typing_extensions
scipy
ipywidgets
ipython
tqdm
PyYAML
albumentations
prompt_toolkit
seaborn
scikit-learn
flask
flask-cors
imageio
waitress
langchain-openai
torchcam
pytorch-lightning
chardet
langchain
transformers
accelerate
bitsandbytes
python-magic
requests
git+https://github.com/facebookresearch/detectron2.git